# pytorch>=1.4.0
# tensorflow>=2.0
easydict
inplace-abn
plyfile
numpy
scikit-image
pyyaml
h5py
opencv-python
tqdm
matplotlib
scipy
lpips
transforms3d
tensorboardX
kornia
catkin_pkg
black
pandas
mpi4py
open3d
pybullet==2.7.9
pytorch-ignite